<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- bean definitions here -->
    <bean class="org.quoter.TerminatorQuoter" id="terminatorQuoter">
        <property name="message" value="I'll be back"/>
    </bean>

    <bean class="org.quoter.DeprecationHandlerBeanFactoryPostProcessor"/>
    <bean class="org.quoter.PostProxyInvokerContextListener"/>
    <bean class="org.quoter.InjectRandomIntAnnotationBeanPostProcessor"/>
    <bean class="org.quoter.ProfilingHandlerBeanPostProcessor"/>
    <!--    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
    <context:annotation-config/>
</beans>